:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 35px 20px;
    color: #ffff;
    font-family: "Poppins", sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8),rgba(136, 136, 206, 0.7)), url(/assets/background-survey.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page__top {
    width: 100%;
    text-align: center;
}

.page__top #title {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 40px;
}

.page__top #description {
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 26px;
    margin-bottom: 20px;
}

.page__main-container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

form#survey-form {
    box-sizing: border-box;
    background-color: var(--color-darkblue-alpha);
    height: 100vh;
    width: 50vw;
    border-radius: 10px;
    padding: 30px 25px;
    opacity: 0.85;
}

.input-area {
    box-sizing: border-box;
    border: 1px solid var(--color-white);
    border-radius: 3.5px;
    font-size: 15px;
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
}

.description-input {
    font-size: 20px;
}

textarea { 
    resize: none;
    width: 100%;
    height: 150px;
}

#submit {
    width: 100%;
}