* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 35px;
    color: #ffff;
    font-family: "Poppins", sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8),rgba(136, 136, 206, 0.7)), url(/assets/background-survey.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page__top #title {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 40px;
}

.page__top #description {
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 26px;
}

.page__main-container {
    display: flex;
    justify-content: center;
}

#survey-form {
    box-sizing: border-box;
    background-color: darkblue;
    height: 100vh;
    width: 50%;
    border-radius: 10px;
    padding: 30px 20px;
    opacity: 0.5;
}